<footer style="background-color: #003f51;">
    <div class="container">
        <div class="row p20">
   
                <div class="col-md-4 text-center mt25"></div>
       

            <div margin: 0 auto;>


                <a style=" margin: 0 auto; font-size: 15.5px; font-family: vag-rundschrift-d, sans-serif; font-weight: 300; color:#fff;"target="_blank" href="https://roaroutloud.in/terms-of-service.html"><li class="social facebook"><u>Terms of Service</u></li></a> 
   
 
                <a style=" margin: 0 auto; font-size: 15.5px; font-family: vag-rundschrift-d, sans-serif; font-weight: 300; color:#fff;" target="_blank" href="https://roaroutloud.in/privacy-policy.html"><li class="social quora"><u>Privacy Policy</u></li></a>
       
                          <a style=" margin: 0 auto; font-size: 15.5px; font-family: vag-rundschrift-d, sans-serif; font-weight: 300; color:#fff;" target="_blank" href="https://roaroutloud.in/contact-us.html"><li class="social twitter"><u>Contact Us</u></i></li></a>
        
            </div>

        </div> 
    </div>
</footer>
